*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: #41b1a5;
}

.logo{
  max-width: 10rem;
}

.nav-list{
  list-style-type: none;
  display: flex;
  gap: 0.1rem;
  
}

.nav-list li{

  text-decoration: none;
  color:#41b1a5;
}

/*Esta clase debe estar en display none para que no se vea en desktop*/
.abrir-menu,
.cerrar-menu{
  display: none;
}


@media screen and (max-width:650px){
  .abrir-menu,
  .cerrar-menu{
    display: block;
  }

  .nav{
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #449c3c;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0,0,0, .5);
  }
  nav.visible{
    opacity: 1;
    visibility: visible;
  }


  .nav-list{
    flex-direction: column;
    align-items: end;
  }

  
  
}



.contenedor-tf {
  position: static;
  width: 100vw; /* Ancho igual al ancho de la ventana del navegador */
  height: 15vh; /* Altura igual a la altura de la ventana del navegador */
  background-color: #7ad8cd; /* Color de fondo del rectángulo */
  border:0.5rem solid #41b1a5;
  overflow: hidden; /* Evita que el rectángulo se desborde de la ventana */
}
.contenedor-c {
  position: static;
  width: 100vw; /* Ancho igual al ancho de la ventana del navegador */
  height: 80vh; /* Altura igual a la altura de la ventana del navegador */
  background-color: #ffffff; /* Color de fondo del rectángulo */
  border:0.5rem solid #41b1a5;
  overflow: auto; /* Evita que el rectángulo se desborde de la ventana */
}
.contenedor-f {
  position: static;
  width: 100vw; /* Ancho igual al ancho de la ventana del navegador */
  height: 5vh; /* Altura igual a la altura de la ventana del navegador */
  background-color: #90d55e; /* Color de fondo del rectángulo */
  border:0.5rem solid #449c3c;
  overflow: hidden; /* Evita que el rectángulo se desborde de la ventana */
  color:#000000;
  display: flex;
  text-align:lefts;
  align-items: center;
  font-size:1rem;
  font-family:Saira;
}
.pokedex-tituloj {
  width: 15rem; /* Ancho deseado */
  height: auto; /* Altura automática para mantener la proporción original */
  position: absolute;
  top:1rem; /* Coloca el elemento 50 píxeles desde la parte superior del elemento padre */
  right:40rem;
}
.pokedex-imagen {
  width: 8rem; /* Ancho deseado */
  height: auto; /* Altura automática para mantener la proporción original */
  position: absolute;
  top:1rem; /* Coloca el elemento 50 píxeles desde la parte superior del elemento padre */
  right:5rem;
}
.pokemon-footer {
  width: 5rem; /* Ancho deseado */
  height: auto; /* Altura automática para mantener la proporción original */
  position: absolute;
  right:5rem;
}
/* #reset-button {
    background-color: #90d55e;
    color: rgb(255, 255, 255);
    border: 1px solid #449c3c;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    left: 45%;
    }
  
  #reset-button:hover {
    background-color: #7ad8cd;
    border: 1px solid #41b1a5;
  } */

